*{
        padding: 0;
        margin: 0;
        overflow-x:hidden ;
        box-sizing: border-box;
        /* Header part */

    }
    body{
            font-family: "Poppins", sans-serif;
            background: #f2f2f2;
            color: #222;
    }

    /* <========Media Query========> */

    @media (min-width:1025px) {
        .header>.nav a:hover{
            font-size: 20px;
            text-decoration: underline;
        }
        
    }
     @media (max-width:1024px){
        #nav-icon{
            visibility: visible !important;
            display: flex !important;
        }
        .header{
             display: grid !important;
            grid-template-columns: 90vw 10vw !important;
        }
                .nav{
                display: grid !important;
            grid-template-columns: 100%;
            justify-items: center;
            position: fixed;
            top: 53px;
            right: 0;
            padding:0 !important;
            background-color: #003b95;
            box-sizing: border-box;
            transition: height 0.6s ease; 
            /* transform: translateX(-100%);    
            transition: transform 0.3s ease; */
           
        }

        #nav.hidden{
            display: none;
            visibility: hidden;
        }
        #nav.show {
            transform: translateX(0); /* Slide in */
            visibility: visible;
        }
        .nav a{
                padding: 6vh 0 6vh 0;
                width: 100% !important;
                text-align: center;
                margin: 0 !important;
                border-bottom: 1px solid lightgrey ;
        }

     }
     @media (min-width:1107px) {
         .hero > .hero-right
        {
            display: initial !important;
            visibility: visible !important;
        }
        .hero > .hero-right img
         {
                width: 20vw;
                border-radius: 50%;

            }
     }
    @media (max-width:1100px) {
         .hero > .hero-left{
            width: 100vw !important;
         }
         .hero > .hero-right{
            width:0 !important;
         }
        .hero > .hero-right
        {
            display: none;
            visibility: hidden;
        }
            
        
    }

    @media (max-width:800px) {
        .skill-grid{
                grid-template-columns: 100vh !important;
                justify-content: center !important;
        }
        .skill-card{
            margin-top: 3vh;
        }
        
    }
    /* <========Media Query========> */
    .header{
        background-color: #003b95;
        display: flex;
        
        flex-direction: row;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        width: 100vw;
        height: max-content;
    }

    .header > .logo{
        color: whitesmoke;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 30%;
        font-weight: 800;
        margin: 10px 10px 10px 10px ;
        font-size: 25px;

    }
    .header > .nav{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 20px;
        
    }

    .header > .nav > a{
        text-decoration: none;
        color: white;
        width: 10%;
        font-size: 18px;
        margin: 20px 10px 20px 10px ;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }

    #nav-icon{
        display: none;
        visibility: hidden;
        align-items: center;
        color: white;
        font-size: 29px;
       justify-content: center;
    }

  

    /* Hero area */

    .hero{
        display: flex;
        padding-top: 5vw;
    }
    .hero > .hero-left{
        width: 60vw;
        /* background-color: red; */
        padding-left: 6vw;
        padding-top: 6vh;

    }
    .hero > .hero-left > h1{
        font-size: 4rem;
        font-weight: 700;

    }
    .hero > .hero-left > h2{
        color: #ff5c36;
        font-size: 3.2rem;

    }
     .hero > .hero-left > p{
        padding-top:20px ;

    }
    .hero > .hero-right{
        width: 40vw;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        padding: 2vw;

    }
     .hero > .hero-right img{
        width:20vw;
        border-radius: 50%;
     }


    /*About section*/

    .about,.skills,.projects,.contact{
            width: 80vw;
            margin: 2rem auto;
    }

    .about >h3,.skills>h3,.projects>h3{
        font-size: 25px;
        font-weight: 700;
    }
    .about >p{
        padding-top: 4vh;
        line-height: 5vh;
    }
    /* skills */
    .skill-grid{
        margin-top: 4vh;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
        color: whitesmoke;
    }
    .skill-card{
        background-color: #003b95;
        width: 97%;
        border-radius: 8px;
        padding: 3vh;
        font-size: 20px;
    }
    /* Projects */
    .project-card{
        width: 100%;
        background-color: white;
        border-radius: 8px;
        height: 30vh;
        text-align: center;
        padding: 30px;
        margin-top: 4vh;
    }
    /* Contact */

    .contact {
    width: 80%;
    margin: 3rem auto;
    text-align: center;
}

.contact-form {
    width: 300px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background: #003b95;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
}
/* Footer  */
.footer {
    background: #003b95;
    color: white;
    padding: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

/* ===== BACK TO TOP BUTTON ===== */
.top-btn {
    background: #003b95;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    text-decoration: none;
}
